.three {
  background-image: url("../images/backgrounds/h_img.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 30px;
  line-height: 30px;
  margin-bottom: 0px;
}
#parap {
  color: white;
  font-size: 2em;
}
.three h1 {
  font-size: 50px;
  color: white;
  line-height: 90px;
}
#logo {
  display: flex;
  align-content: center;
  justify-content: center;
}
#about {
  padding-top: 50px;
}

.services {
  background: url("../images/backgrounds/s_image.jpg");
  height: 40vh;
  color: white;
  display: block;
  text-align: center;
  margin-top: 50px;
}
#design {
  position: absolute;
  top: 10%;
  display: none;
}
.portfolio {
  margin-bottom: 50px;
}
#development {
  position: absolute;
  top: 10%;
  display: none;
}
#product {
  position: absolute;
  top: 10%;
  display: none;
}

.contact {
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 100px;
  line-height: 30px;
  margin-bottom: 0px;
  display: block;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 100px;
}

form {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 0px;
}
textarea {
  width: 100%;
}
#sign {
  color: #000;
}
